{% extends "EsolvingEschoolUserBundle::template.html.twig"%}
{% trans_default_domain 'EsolvingEschoolUserBundle' %}
{% block title %}{% trans %}register_student{% endtrans %}{% endblock %}
{% block content %}
<div id="content">
    <h1>{{ block('title')}}</h1>
    <ul class="record-actions record-actions-header">
        <li>
            <a href="{{ path('esolving_eschool_userB_Student_list') }}" class="button ui-state-default">
                <span class="ui-icon ui-icon-document icon-position"></span>
                {% trans %}back_to_the_list{% endtrans %}
            </a>
        </li>
    </ul>
    <div class="clearfix divider-medium"></div>
{{ html.jqueryUiGetNotice(info,status) }}
    <form method="post" action="{{ path('esolving_eschool_userB_Student_register') }}" novalidate="" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
            <div class="form_label">&nbsp;</div>
            <div class="form_widget"><input type="submit" value="{% trans %}register{% endtrans %}" class="button button-form"/></div>
        </form>
    </div>
{% endblock content %}
