{% extends "EsolvingEschoolUserBundle::template.html.twig"%}
{% trans_default_domain 'EsolvingEschoolUserBundle' %}
{% block title %}{% trans %}show_student{% endtrans %}{% endblock %}
{% block content %}
<div id="content">
    <h1>{{ block('title')}}</h1>
    <ul class="record-actions record-actions-header">
        <li>
            <a href="{{ path('esolving_eschool_userB_Student_edit',{'studentId':student.id})}}" class="button ui-state-default">
                <span class="ui-icon ui-icon-pencil icon-position"></span>
                {% trans %}edit{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('esolving_eschool_userB_Student_register') }}" class="button ui-state-default">
                <span class="ui-icon ui-icon-plus icon-position"></span>
                {% trans %}register_student{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('esolving_eschool_userB_Student_list')}}" class="button ui-state-default">
                <span class="ui-icon ui-icon-document icon-position"></span>
            {% trans %}back_to_the_list{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('esolving_eschool_roomB_Student_list_inscribe')}}" class="button ui-state-default">
                <span class="ui-icon ui-icon-document icon-position"></span>
            {% trans %}back_to_the_inscribe_list{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('esolving_eschool_userB_Student_delete',{'studentId':student.id})}}" class="button ui-state-default" >
                <span class="ui-icon ui-icon-trash icon-position"></span>
                {% trans %}delete{% endtrans %}
            </a>
        </li>
    </ul>
    <div class="clearfix divider-medium"></div>
{% include 'EsolvingEschoolUserBundle::show.inc.html.twig' with {'user':student.user} %}
</div>
{% endblock content %}
