{% extends "EsolvingEschoolUserBundle::template.html.twig"%}
{% trans_default_domain 'EsolvingEschoolUserBundle' %}
{% block title %}{% trans %}show_user{% endtrans %}{% endblock %}
{% block content %}
<div id="content">
    <h1>{{ block('title')}}</h1>
    <ul class="record-actions record-actions-header">
        <li>
            <a href="{{ path('esolving_eschool_userB_edit',{'userId':user.id}) }}" class="button ui-state-default">
                <span class="ui-icon ui-icon-pencil icon-position"></span>
                {% trans %}edit{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('esolving_eschool_userB_register') }}" class="button ui-state-default">
                <span class="ui-icon ui-icon-plus icon-position"></span>
                {% trans %}register_user{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('esolving_eschool_userB_list')}}" class="button ui-state-default">
                <span class="ui-icon ui-icon-document icon-position"></span>
            {% trans %}back_to_the_list{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('esolving_eschool_userB_delete', { 'userId': user.id }) }}" class="button ui-state-default" >
                <span class="ui-icon ui-icon-trash icon-position"></span>
                {% trans %}delete{% endtrans %}
            </a>
        </li>
    </ul>
    <div class="clearfix divider-medium"></div>
{% include 'EsolvingEschoolUserBundle::show.inc.html.twig' with {'user':user} %}
</div>
{% endblock content %}
