{% extends "EsolvingEschoolUserBundle::template.html.twig"%}
{% trans_default_domain 'EsolvingEschoolUserBundle' %}
{% block title %}{% trans %}list_teachers{% endtrans %}{% endblock %}
{% block content %}
<div id="content">
    <h1>{{ block('title')}}</h1>
    <ul>
        <li><a href="{{ path('esolving_eschool_userB_Teacher_register') }}">{% trans %}register_teacher{% endtrans %}</a></li>
    </ul>
    <div id="navigation">
        {{ knp_pagination_render(teachers.pagination) }}
        </div>
        <table class="fancyTable">
            <thead>
                <tr>
                    <th>{% trans %}name{% endtrans %}</th>
                    <th>{% trans %}last_name{% endtrans %}</th>
                    <th>{% trans %}address{% endtrans %}</th>
                    <th>{% trans %}date_born{% endtrans %}</th>
                    <th>{% trans %}sex{% endtrans %}</th>
                    <th>{% trans %}distrit{% endtrans %}</th>
                    <th>{% trans %}email{% endtrans %}</th>
                    <th>{% trans %}group_blod{% endtrans %}</th>
                    <th>{% trans %}headquarter{% endtrans %}</th>
                    <th>{% trans %}phone{% endtrans %}</th>
                    <th>{% trans %}phone_movil{% endtrans %}</th>
                    <th>{% trans %}section{% endtrans %}</th>
                    <th>{% trans %}status{% endtrans %}</th>
                    <th>{% trans %}roles{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
        {% for teacher in teachers.pagination %}
                    <tr>
                        <td>{{ teacher.user.name }}</td>
                        <td>{{ teacher.user.lastName }}</td>
                        <td>{{ teacher.user.address }}</td>
                        <td>{{ teacher.user.dateBorn | localizeddate('long','none') }}</td>
                        <td>{{ teacher.user.sexType.languages.0.description }}</td>
                        <td>{{ teacher.user.distritType.languages.0.description }}</td>
                        <td>{{ teacher.user.email }}</td>
                        <td>{{ teacher.user.groupblodType.languages.0.description }}</td>
                        <td>{{ teacher.user.headquarterType.languages.0.description }}</td>
                        <td>{{ teacher.user.phone }}</td>
                        <td>{{ teacher.user.phoneMovil }}</td>
                        <td>{{ teacher.user.sectionType.languages.0.description }}</td>
                        <td align="center">
                        {% if teacher.user.status %}
                                <span class="ui-icon ui-icon-check"></span>
                        {% else %}
                                <span class="ui-icon ui-icon-close"></span>
                        {% endif %}
                        </td>
                        <td>
                {% for role in teacher.user.rolesAccess %}
                    {{ role.roleType.languages.0.description }}
                {% endfor %}
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('esolving_eschool_userB_Teacher_show',{'teacherId':teacher.id}) }}">{% trans %}show{% endtrans %}</a></li>
                                    <li><a href="{{ path('esolving_eschool_userB_Teacher_edit',{'teacherId':teacher.id}) }}">{% trans %}edit{% endtrans %}</a></li>
                                    <li><a href="{{ path('esolving_eschool_userB_Teacher_delete',{'teacherId':teacher.id}) }}">{% trans %}delete{% endtrans %}</a></li>
                                </ul>
                            </td>
                        </tr>
        {% else %}
                        <tr>
                            <td colspan="15">{% trans %}empty{% endtrans %}</td>
                        </tr>
        {% endfor %}
                    </tbody>
                </table>
            </div>
{% endblock content %}
